/*everything*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigeringen, menyn */
.menylista{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    background-color: #0F1626;
}

.menylista ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;

}
/* Fonten på menyn */
.menylista ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
}